CREATE#if ($db == 'SQLite') VIEW#else OR REPLACE VIEW#end $viewName AS
SELECT #foreach ( $attAlias in $atts )#if ($velocityCount > 1), #end${childTable}.${attAlias.att} AS ${attAlias.alias}#end#foreach ( $ta in $parentAtts ), ${ta.table}.${ta.attAlias.att} AS ${ta.attAlias.alias}#end

FROM #foreach ( $table in $tables )#if ($velocityCount > 1), #end$table#end

WHERE #foreach ( $pair in $pairs )#if ($velocityCount > 1) 

AND #end${pair.childTable}.${pair.child} = ${pair.parentTable}.${pair.parent}#end