

<#TriplesMap${className}>
    rr:logicalTable [ rr:tableName "${table}" ];
    rr:subjectMap [
        rr:template "${classUri}/#foreach ( $att in $atts ){$att}/#end";
        rr:class ${prefixClass}:${className};
    ];